body {
    background-color: #243137;
    color: #1576c6;
}

.welcome {
    width: 20%;
    text-align: center;
    position: relative;
    left: 40%;
    top: 5%;
}

.code-editor {
    position: relative;
    top: 15%;
}

.output-wrapper {
    background-color: #fff;
}

i {
    background-color: #fff;
    border: 1px solid #FFF;
    border-radius: 4px;
}

.tips {
    width: 50%;
    text-align: center;
    position: relative;
    left: 25%;
}

.button {
    background-color: #1576c6;
    height: 11%;
    width: 15%;
    text-align: center;
    position: relative;
    top: 50%;
    left: 42.5%;
    color: #000;
    border: 5px solid #1576c6;
    border-radius: 10px;
}

.button:hover {
    background-color: #fff;
    transition: 1s;
    border: 5px solid #fff;
}